html,
:root,
body {
    margin: 0;
    padding: 0;
    font-family: Avenir Next;
    background: #f8f8f8;
    font-size: 16px;
    color: #333333;
}

@font-face {
    font-family: Avenir Next;
    font-weight: 400;
    src: url("fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: Avenir Next;
    font-weight: bold;
    src: url("fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: Avenir Next;
    font-weight: 300;
    src: url("fonts/AvenirNextLTPro-It.otf") format("opentype");
}